* {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
}

.container {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px 0 30px;
}

//Импорт элементов
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'base/logo';
@import 'base/button';
@import 'base/title';


//Импорт страниц
@import 'pages/main';