.header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #0b539c;
    z-index: 999;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        width: 700px;
        padding-left: 0;
        &__items {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            padding: 25px 10px;
            margin: 0 auto;
        }
        &__link {
            transition: 0.2s;
            &:hover {
                background-color: #007dfd;
                border-radius: 15px;
                padding: 0 15px;
                border: 1px solid white;
            }
            a {
                text-decoration: none;
                color: white;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
            }
        }
    }
}
.promo {
    height: 670px;
    padding: 135px 135px 135px 135px;
    background: url(../img/bg/bg_header.png) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        .text {
            margin-top: 75px;
            max-width: 470px;
            max-height: 250px;
        &__title {
            font-weight: 700;
            font-size: 50px;
            line-height: 65px;
            letter-spacing: -3px;
            color: #0b539c;
        }
        &__descr {
            margin-top: 73px;
            font-weight: 700;
            font-size: 43px;
            line-height: 42px;
            color: #0b539c;
        }
        }
    }
    &__img {
        width: 574px;
        height: 413px;
        border-radius: 45px;
    }
}