.header {
    width: 100%;
    height: 80px;
    background-color: #0b539c;
    z-index: 999;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        width: 700px;
        padding-left: 0;
        &__items {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            padding: 25px 10px;
            margin: 0 auto;
        }
        &__link {
            transition: 0.2s;
            &:hover {
                background-color: #007dfd;
                border-radius: 15px;
                padding: 0 15px;
                border: 1px solid white;
            }
            a {
                text-decoration: none;
                color: white;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                text-align: center;
            }
        }
    }
}
.promo {
    max-height: 695px;
    padding: 65px 135px 135px 135px;
    background: url(../img/bg/promo.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;
        .text {
            width: 600px;
            height: 534px;
            background-color: rgba(0,0,0,.4);
            padding: 5px 15px;
            border-radius: 8px;
        &__title {
            text-align: center;
            font-weight: 700;
            font-size: 45px;
            line-height: 70px;
            color: #fff;
            span {
                font-size: 42px;
            }
        }
        &__img {
            display: block;
            margin: 0 auto;
            width: 220px;
            margin-top: 20px;
        }
        &__descr {
            text-align: center;
            margin-top: 19px;
            font-weight: 700;
            font-size: 38px;
            line-height: 42px;
            color: #fff;
        }
        }
    }
    // &__img {
    //     width: 574px;
    //     height: 413px;
    //     border-radius: 45px;
    // }
}